body {
    background-color: #394A56;
    font-family: "Roboto";
}

.grouped {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #E7E8E7;
    border-radius: 10px;
}

form {
    justify-content: space-between;
}

#search-input {
    color: #22303F;
    border:#22303F;
    background-color: #f9f7f7;
    width: 400px;
    padding: 20px 15px;
    border-radius:8px;
}

.submit-button {
    color: white;
    margin-left: 25px;
    background-color: #264061;
    border: none;
    width: 150px;
    padding: 20px 40px;
    border-radius: 10px;

}


.current-weather {
    display: inline-flex;
    margin: 50px auto;
}

.current-temperature {
    margin-left: 215px;
    margin-top:20px;
    font-size: 25px;
}

.current-temperature-emoji {
    font-size: 48px;
    margin-bottom: 10px;
}

a {
    color:#22303f
}